
@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Create Entry";
}
<div class="background">
    <h1>Create Entry</h1>

    <h4>New Movie</h4>
    <hr />
    <div class="row">
        
        <form asp-action="Create">
            <div class="card-columns">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-columns, col-12">
                    <div style="break-inside: avoid; background-color: #c5d5c5; border-radius: 15px;">
                        <label asp-for="Title" class="control-label" style="padding-top: .9rem; padding-left: .9rem; font-size: large; font-weight: bold;"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="card-columns, col-12">
                    <div style="break-inside: avoid; background-color: #c5d5c5; border-radius: 15px;">
                        <label asp-for="ReleaseDate" class="control-label" style="padding-top: .9rem; padding-left: .9rem; font-size: large; font-weight: bold;"></label>
                        <input asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="card-columns, col-12">
                    <div style="break-inside: avoid; background-color: #c5d5c5; border-radius: 15px;">
                        <label asp-for="Genre" class="control-label" style="padding-top: .9rem; padding-left: .9rem; font-size: large; font-weight: bold;"></label>
                        <input asp-for="Genre" class="form-control" />
                        <span asp-validation-for="Genre" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="card-columns, col-12">
                    <div style="break-inside: avoid; background-color: #c5d5c5; border-radius: 15px;">
                        <label asp-for="Rating" class="control-label" style="padding-top: .9rem; padding-left: .9rem; font-size: large; font-weight: bold;"></label>
                        <input asp-for="Rating" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="card-columns, col-12">
                    <div style="break-inside: avoid; background-color: #c5d5c5; border-radius: 15px;">
                        <label asp-for="Price" class="control-label" style="padding-top: .9rem; padding-left: .9rem; font-size: large; font-weight: bold;"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <br />
                
                
                

            </div>
            <hr />
            <br />

            <div class="card-columns, col-12" style="break-before:always">
                <input type="submit" value="Create" class="btn btn-primary, card-columns" style="padding: 1rem; font-size: large; font-weight: bold; background-color: #c5d5c5"  />
            </div>
        </form>
        
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
